<!DOCTYPE html>
<html>
<head>
  <title>OneSignal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=0"/>
  <link rel="manifest" href="/manifest.json">
  <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
  <script>
    var OneSignal = window.OneSignal || [];
    OneSignal.push(["init", {
      // appId: "1e28d329-d699-4c8e-a4d4-1a4b91afd0f1",
      appId: "fe9ba335-a7c3-4b94-bf8c-e3734809ff1d",
      autoRegister: false,
      notifyButton: {
        enable: true /* Set to false to hide */
      }
    }]);
  </script>
</head>
<body>

</body>
</html>